name: OpenTofu Validate

on:
  pull_request:
    branches:
      - main

jobs:
  changed_files:
    runs-on: ubuntu-latest 
    name: Test changed-files
    steps:
      - uses: actions/checkout@v4
      - uses: opentofu/setup-opentofu@v1        
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45
        with:
          files: "./modules/**"
          dir_names: "true"

      - name: List all changed modules
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          for file in ${ALL_CHANGED_FILES}; do
            echo "$file module was changed"
          done

      - name: Validate OpenTofu modules
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          for dir in ${{ steps.changed-files.outputs.all_changed_files }}; do
            echo "Validating: $dir"
            cd $dir
            tofu init
            tofu fmt -check
            tofu validate
          done
